.projects__card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects__card__descr {
    font-size: 1.5em;
    width: 60%;
    margin-bottom: 1%;
    padding: 0.5%;
    color: var(--accent-color);
    border-bottom: solid 2px var(--accent-color);
}

.projects__card__img {
    width: 50%;
    object-fit: cover;
    box-shadow: 14px 17px 4px -3px rgba(0,0,0,0.52);
}

.projects__card__link h2 {
    font-size: 1.6em;
    color: var(--accent-color);

}

.projects__card__links {
    margin-top: 1em;
}

@media (max-width: 1200px) {
    .projects__card__descr {
        max-width: 100%;
        width: 80%;
    }

    .projects__card__img {
        max-width: 100%;
        width: 90%;
        box-shadow: none;
    }
}


