.projects__card {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.projects__card__descr {
    font-size: 1.6em;
    width: 100%;
    margin-bottom: 1%;
    padding: 0.5%;
    color: var(--accent-color);
    border-bottom: solid 2px var(--accent-color);
}

.projects__card__img {
    width: 85%;
    object-fit: cover;
    box-shadow: 14px 17px 4px -3px rgba(0,0,0,0.52);
}

.projects__card__link h2 {
    font-size: 1.6em;
    color: var(--accent-color);

}

.projects__card__links {
    font-size: 1.2em;
    margin-top: 1em;
}

.projects__card__links a {
    margin-left: 0.5em;
    transition: scale 0.3s ease-in-out;
}

.projects__card__links *:hover{
    transform: scale(1.1);
    background: var(--accent-color);
    color: var(--background-color);
    border-radius: 0.2em;
}

@media (max-width: 1200px) {
    .projects__card__descr {
        max-width: 100%;
        width: 80%;
    }

    .projects__card__img {
        max-width: 100%;
        width: 90%;
        box-shadow: none;
    }
}


