.contactForm {
    margin: 10px auto;
    max-width: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--accent-color);
    color: var(--background-color);
    box-shadow: 14px 17px 4px -3px rgba(0,0,0,0.52);
}

.contactForm * {
    font-size: 1.5em;
    margin: 0.8%;

}

.contactForm h2 {
    font-size: 2em;
    text-decoration: underline;
}

.contactForm__input {
    width: 40%;
    height: 10%;
}

.contactForm__textArea {
    width: 40%;
    max-height: 200px;
    height: 20vh;
}

.contactForm__btn {
    background: var(--background-color);
    color: var(--accent-color);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contactForm__btn:hover {
    background: var(--background-color);
    color: var(--accent-color);
    transform: scale(1.1);
}

.contactForm__btn:active {
    background: var(--background-color);
    color: var(--accent-color);
    transform: scale(0.8);
}