.topMenu {
    max-width: 100%;
    margin: 0 auto;
    background: var(--accent-color);
    list-style-type: none;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 2;
}

.topMenu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    list-style: none;
}

.topMenu__list__menu {
    color: var(--background-color);
    margin: 10px;
}

.topMenu__list__menu:hover {
    text-decoration: underline;
}

.topMenu__list__menu__link:visited {
    color: var(--background-color);
    text-decoration: underline;
}


