.footer {
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--background-color);
}

.footer a {
    padding: 5px;
    color: var(--background-color);

}