.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--accent-color);
    color: var(--background-color);
}

.footer a {
    padding: 5px;
    color: var(--background-color);

}