@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Monoton&family=Playfair+Display&family=Amatic+SC&family=Dancing+Script&family=Press+Start+2P&family=Roboto:wght@300;400;700&display=swap");

:root {
  --background-color: #c0c2ff;
  --accent-color: #220B40;
  --text-color: #F0F4F8;
  --text-color-secondary: #c0c2ff;

}

html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: var(--background-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

@keyframes fadeInEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleEffect {
  from {
    scale: 0.7;
  }
  to {
    scale: 1.0;
  }
}

.scaleLoading{
    animation: scaleEffect 5s ease-in-out;
}

.fadeIn {
  animation: fadeInEffect 5s ease-in-out;
}

@media (max-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
  }
}
