.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}
.slider__button {
    font-size: 1em;
    padding: 1%;
    width: 10%;
    height: 100%;
    cursor:pointer;
    background: var(--accent-color);
    color: var(--background-color);
    border: none;
}




