.slider {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.slider__primary {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}


.slider__button {
    margin: 50% auto;
    font-size: 0.8em;
    padding: 1%;
    width: 40%;
    max-width: 50%;
    height: 5%;
    cursor:pointer;
    background: var(--accent-color);
    color: var(--background-color);
    border: none;
    transition: background ease-in-out, color ease-in-out;
}

.slider__button:hover {
    background: var(--text-color);
    color: var(--accent-color);
    transform: scale(1.3);
}

.slider__button:active {
    background: var(--text-color);
    color: var(--accent-color);
    transform: scale(0.8);
}

@media (max-width: 1200px) {
    .slider__button {
        height: 3%;
    }

    .slider {
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .slider__primary p {
        width: 200%;
    }

    .slider__secondary {
        display: none;
    }

    @media screen and (orientation: landscape) {
        .slider__button {
            height: 6%;
        }
    }
}




